<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<span th:if="${result} > 0"> 
		<script type="text/javascript" th:inline="javascript">
		alert("좌석 배치가 완료되었습니다.");
		var pcno = /*[[${pcno}]]*/{};
		location.href="/pc/seatUpdateForm.do?pcno="+pcno;
		</script>
	</span>
	<span th:if="${result} == 0"> 
		<script type="text/javascript">
			alert("다시 한번 시도해 주세요");
			history.go(-1);
		</script>
	</span>
</body>
</html>